.upload-selection {
  padding: 10px 0 20px 0;
}

.upload {
  display: none;
}

.upload-files:empty {
  display: none;
}

.upload-info{
  display: none;
}

.file-item-cancel {
  margin-left: 50px;
  color: red;
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
}