<!DOCTYPE html>
<html>
  <head>
    <title>文件列表</title>
    <style type="text/css">
      li {
        list-style: none;
      }
      .filename {
      display: inline-block;
      }

    </style>
  </head>
  <body>
    <h1>文件列表</h1>
    <% if(fileList) { %>
      <ul>
      <% for(owner in fileList) { %>
        <li class="owner-files">
          <h3 class="owner"><%= owner %></h3>
          <ul>
          <% fileList[owner].forEach(function(fileItem) { %>
            <li>
              <div class="filename"><%= fileItem.real_name %></div>
              <button class="download" data-id="<%= fileItem._id %>">下载</button>
            </li>
          <% }) %>
          </ul>
        </li>
      <% } %>
      </ul>
    <% } else { %>
      <div>暂无文件</div>
    <% } %>
  </body>

  <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.download').on('click', function(e) {
        var id = this.dataset.id;
        location.href = '/files/' + id;
      });
    });
  </script>
</html>